<mat-drawer-container opened="true">
  <h1>Sky High Design</h1>
</mat-drawer-container>
<mat-toolbar layout="row" color="primary">
  <mat-toolbar-row>
    <a routerLink="Home" routerLinkActive="active">Home</a>
    <a routerLink="OngoingProjects" routerLinkActive="active">Ongoing Projects</a>
    <a routerLink="OurClients" routerLinkActive="active">Our Clients</a>
    <a routerLink="FirmFinances" routerLinkActive="active">Firm Finances</a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
