/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar-row {
  background: green;
}

.mat-typography .mat-drawer-content h1 {
  padding: 0;
  margin: .5em;
}

mat-toolbar a {
  color: white;
  margin-right: 2em;
  font-size: .9em;
  text-decoration: none;
  opacity: .5;
}

mat-toolbar a.disabled {
  cursor: not-allowed;
  opacity: .2;
}

mat-toolbar a.active {
  opacity: 1;
}

.content {
  margin: 1em;
}
